@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-font: "Nominee";
    --main-text: #fff;
}

* {
    font-family: var(--main-font);
}

.border {
    border: 1px solid #ccc;
}

.app-bg {
    @apply bg-[#1d1b27] text-[var(--main-text)];
}

@font-face {
    font-family: "Redzone";
    src: url("/fonts/VTFRedzone-Classic.ttf") format("truetype");
}

@font-face {
    font-family: "Nominee";
    src: url("/fonts/Nominee-Medium.ttf") format("truetype");
}

.font-redzone {
    font-family: "Redzone";
}

.font-nominee {
    font-family: "Nominee";
}

.col {
    @apply flex flex-col flex-wrap;
}

.row {
    @apply flex flex-row flex-wrap;
}

.center {
    @apply items-center justify-center;
}

button {
    @apply active:scale-90 transition-transform duration-200;
}

.screen {
    @apply min-h-[60dvh];
}
